*,
*::before,
*::after {
    overflow-x: hidden;
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container .icon {
    position: relative;
    left: 33.3%;
    overflow: hidden;
    padding: 5px 0;
    bottom: 15px;
}

.container .layout {
    padding: 30px 60px 60px;
    background-color: #fff;
    width: max-content;
    left: 33%;
    border-radius: 20px;
    position: relative;
}

.container .layout .container-layout .content {
    text-align: center;
}

.container .layout .container-layout .content h1 {
    color: #353746;
    font-family: sans-serif;
    font-weight: 300;
}

.container .layout .container-layout .info {
    text-align: center;
}

.container .layout .container-layout .info h4 {
    color: #484C7A;
    margin: 0 auto;
    padding: 5px 0;
    font-family: sans-serif;
    font-weight: 300;
}

.container {
    width: 100%;
    padding: 315px 0;
    background-image: url(./6847186.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (min-width:401px) and (max-width:650px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .container .layout {
        position: relative;
        left: -78px;
        bottom: 0px;
        padding: 28px 37px 57px;
    }
    .container {
        padding: 100px;
    }
    .container .icon {
        padding: 5px 0;
    }
}

@media only screen and (min-width:651px) and (max-width: 767px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .container {
        padding: 379px;
    }
    .container .layout {
        position: relative;
        left: -259px;
        bottom: 120px;
    }
    .container .icon {
        padding: 5px 0;
    }
    .container .layout .container-layout .content {
        padding: 10px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .container {
        padding: 800px;
    }
    .container .layout {
        position: relative;
        left: -600px;
    }
    .container .icon {
        padding: 5px 0;
    }
    .container .layout .container-layout .content {
        padding: 10px 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 1440px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}