*,
*::before,
*::after {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: mediumslateblue;
    --sky-blue: #457aff;
    --font-color: #353746;
    --paragraph-color: #484C7A;
    --main-color: #fff;
    --bg-color: #f5f5fa;
    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb: #888;
    --scrolbar-thumb-hover: #555;
    --bg-random: #ececee;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrolbar-thumb-hover);
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Bold";
    src: url(../Fonts/Sora-Bold.ttf);
}

@font-face {
    font-family: "Medium";
    src: url(../Fonts/Sora-Medium.ttf);
}

@font-face {
    font-family: "Regular";
    src: url(../Fonts/Sora-Regular.ttf);
}

@font-face {
    font-family: "Thin";
    src: url("../Fonts/Sora-Thin.ttf");
}

aside {
    display: block;
}

._social-links {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    padding: 1em 0.5em 1em 1em;
    background: #fafafa;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: -4px 0px 0px var(--sky-blue);
    transition: all 300ms ease;
    z-index: 10;
}

._social-links:hover {
    box-shadow: -8px 0px 20px var(--sky-blue);
    padding: 1em;
}

._links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

._social-link a {
    color: #111;
    font-size: 1.5rem;
    transition: all 200ms ease;
}

._social-link a:visited {
    color: #111;
}

._social-link a:hover {
    color: var(--sky-blue);
    font-size: 1.75rem;
}

._social-link i {
    overflow: hidden;
}


/* header menu  */

.animationMenu {
    display: none;
}

.section-center {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.menu-icon:checked+label,
.menu-icon:not(:checked)+label {
    position: fixed;
    top: 45px;
    right: 25px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 10;
}

.menu-icon:checked+label:before,
.menu-icon:not(:checked)+label:before {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 20px;
    z-index: 20;
    top: 0;
    left: 0;
    border-top: 2px solid var(--bg-random);
    border-bottom: 2px solid var(--bg-random);
    transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after,
.menu-icon:not(:checked)+label:after {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    z-index: 20;
    top: 10px;
    right: 4px;
    background-color: var(--bg-random);
    margin-top: -1px;
    transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:before {
    top: 10px;
    transform: rotate(45deg);
    height: 2px;
    background-color: var(--bg-random);
    border-width: 0;
    transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after {
    width: 30px;
    margin-top: 0;
    right: 0;
    transform: rotate(-45deg);
    transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
    position: fixed;
    top: 15px;
    right: 0%;
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    z-index: 9;
    overflow: hidden;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--sky-blue);
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

.menu-icon:checked~.nav {
    animation-play-state: paused;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
    transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease, width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
    list-style: none;
    overflow: hidden;
}

.nav ul li {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    list-style: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 250ms linear;
    overflow: hidden;
}

.nav ul li:nth-child(1) {
    transition-delay: 200ms;
}

.nav ul li:nth-child(2) {
    transition-delay: 150ms;
}

.nav ul li:nth-child(3) {
    transition-delay: 100ms;
}

.nav ul li:nth-child(4) {
    transition-delay: 50ms;
}

.nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 800;
    display: inline-block;
    position: relative;
    color: var(--bg-random);
    transition: all 250ms linear;
    overflow: hidden;
}

.nav ul li a:hover {
    text-decoration: none;
    color: var(--font-color);
}

.nav ul li a:after {
    display: block;
    position: absolute;
    top: 60%;
    content: '';
    height: 7px;
    margin-top: -1vh;
    width: 0;
    left: 0;
    background-color: #353746;
    opacity: 0.8;
    transition: width 250ms linear;
}

.nav ul li a:hover:after {
    width: 100%;
}

.menu-icon:checked~.nav ul li {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 350ms ease, transform 250ms ease;
}

.menu-icon:checked~.nav ul li:nth-child(1) {
    transition-delay: 1400ms;
}

.menu-icon:checked~.nav ul li:nth-child(2) {
    transition-delay: 1480ms;
}

.menu-icon:checked~.nav ul li:nth-child(3) {
    transition-delay: 1560ms;
}

.menu-icon:checked~.nav ul li:nth-child(4) {
    transition-delay: 1640ms;
}

.menu-icon:checked~.nav ul li:nth-child(5) {
    transition-delay: 1740ms;
}


/* heder menu  */

header {
    width: 100%;
    background-color: var(--main-color);
    position: fixed;
    border-bottom: 1px solid #84858e;
    z-index: 10;
    top: 0;
}

header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2px;
    background: #aaaab2;
    bottom: 0;
    left: 0;
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

header .row .col {
    position: relative;
    color: var(--main-color);
}

header .row .col img {
    width: 120px;
    overflow: hidden;
    position: relative;
    left: 15px;
    filter: opacity(1) drop-shadow(0 0 0 var(--sky-blue));
}

header .row .col .navbar {
    display: flex;
    column-gap: 25px;
    align-items: center;
}

header .row .col .navbar li a {
    font-size: 12px;
    cursor: pointer;
    font-family: "Medium";
    color: var(--font-color);
    text-decoration: none;
}

header .row .col a {
    margin: 0 28px 0 0;
}

header .row .col button {
    background-color: var(--sky-blue);
    color: var(--main-color);
    font-size: 12px;
    outline: none;
    cursor: pointer;
    font-family: "Medium";
    padding: 13px 16px;
    border: none;
    border-radius: 6px;
}

.container {
    width: 100%;
    padding: 203px 0 141px 0;
    background-color: var(--main-color);
}

.container .contentText {
    text-align: center;
}

.container .contentText h1 {
    font-size: 38px;
    font-family: "Medium";
    color: #353535;
}

.container .contentText span {
    color: var(--sky-blue);
    font-family: "Medium";
    font-size: 38px;
}

.container .text {
    text-align: center;
    padding: 2px 0;
}

.container .text h2 {
    color: #353746;
    font-family: "Thin";
}

.banner {
    width: 100%;
    padding: 50px 0;
    background-color: #f5f5fa;
}

.banner .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 6;
    column-gap: 20px;
}

.banner .row .col {
    flex-basis: 33%;
    position: relative;
}

.banner .row .col::before,
.banner .row .col:after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.banner .row .col::before {
    content: '';
    right: 14px;
    top: 0;
    border-top: 3px solid var(--sky-blue);
    border-right: 3px solid var(--sky-blue);
    transform: translate(-100%, 50%);
}

.banner .row .col .info i:hover {
    left: 4px;
}

.banner .row .col:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid var(--sky-blue);
    border-left: 3px solid var(--sky-blue);
    transform: translate(100%, -50%)
}

.banner .row .col:hover::before,
.banner .row .col:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.banner .row .col .info i {
    position: relative;
    transition: left .3s ease-in-out;
    top: 3px;
    left: 4px;
    font-size: 17px;
}

.banner .row .col .contentText {
    padding: 10px 30px;
}

.banner .row .col .contentText h1 {
    color: #353535;
    font-family: "Medium";
    font-size: 34px;
}

.banner .row .col .text {
    padding: 10px 30px;
}

.banner .row .col .text h4 {
    color: #353746;
    font-size: 16.2px;
    font-family: "Thin";
}

.banner .row .col:after {
    top: 65%;
    opacity: 0;
}

.banner .row .col:hover:after {
    top: 90%;
    opacity: 1;
}

.banner .row .col .info {
    padding: 30px 30px;
    overflow: hidden;
}

.banner .row .col .info a {
    font-family: "Medium";
    text-decoration: none;
    color: var(--sky-blue);
    font-size: 17px;
}

.banner .flex {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.banner .flex .col-flex {
    position: relative;
}

.banner .flex .col-flex .contentText {
    padding: 10px 30px;
}

.banner .flex .col-flex .text {
    padding: 10px 30px;
}

.banner .flex .col-flex .contentText h1 {
    color: #353746;
    font-family: "Medium";
    font-size: 34px;
}

.banner .flex .col-flex .info {
    padding: 30px 30px;
}

.banner .flex .col-flex .text {
    padding: 10px 30px;
}

.banner .flex .col-flex .text h4 {
    color: #353746;
    font-size: 17.2px;
    overflow: hidden;
    font-family: "Thin";
}

.banner .flex .col-flex .info {
    padding: 30px 30px;
}

.banner .flex .col-flex .info i {
    position: relative;
    top: 3px;
    left: 4px;
    cursor: pointer;
}

.banner .flex .col-flex .info i:hover {
    transition: .3s ease-in-out;
    left: 4px;
}

.banner .flex .col-flex::before,
.banner .flex .col-flex:after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.banner .flex .col-flex::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid var(--sky-blue);
    border-right: 3px solid var(--sky-blue);
    transform: translate(-100%, 50%);
}

.banner .flex .col-flex:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid var(--sky-blue);
    border-left: 3px solid var(--sky-blue);
    transform: translate(100%, -50%)
}

.banner .flex .col-flex:hover::before,
.banner .flex .col-flex:hover:after {
    transform: translate(0, 0);
    opacity: 1;
}

.banner .flex .col-flex .info a {
    font-family: "Medium";
    text-decoration: none;
    color: var(--sky-blue);
    font-size: 17px;
}

.footer {
    background-color: rgb(0 0 51);
}

.footer .footer-top {
    padding: 71px 91px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.footer .row .col {
    flex-basis: 20%;
    position: relative;
}

.footer .row .col h3 a {
    font-family: "Thin";
    width: max-content;
    color: var(--paragraph-color);
    text-align: end;
    font-size: 18px;
    cursor: pointer;
}

.footer .row .col h3 a:hover {
    color: var(--main-color);
    transition: 0.3s ease-in;
}

.footer .text {
    text-align: end;
    padding: 50px 0;
}

.footer .text h3 {
    font-family: "Thin";
    width: max-content;
    color: var(--paragraph-color);
    text-align: end;
    font-size: 18px;
    cursor: pointer;
}

.footer .text h3:hover {
    transition: 0.3s ease-in;
    color: var(--main-color);
}

.footer .flex {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px 0;
}

.footer .flex li img {
    width: 20px;
    object-fit: cover;
    filter: invert(1);
    cursor: pointer;
}

.footer .rights-reserved {
    text-align: center;
}

.footer .rights-reserved h2 {
    color: var(--main-color);
    font-size: 16px;
    padding: 25px 0;
    font-family: "Thin";
    border-top: 1px solid var(--paragraph-color);
}

.make-merchandising {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}

.make-merchandising .containerr {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.make-merchandising .lg-view {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--sky-blue);
    font-family: "Medium";
}

.make-merchandising h2 {
    color: var(--main-color);
    overflow: hidden;
    padding: 2px 0;
    font-family: "Medium";
    font-size: 30px;
}

.make-merchandising p {
    font-family: "Thin";
    font-size: 15px;
}

.make-merchandising .sm-view {
    color: var(--second-header-color);
    font-family: "Thin";
}

.make-merchandising .form-container {
    display: flex;
}

.make-merchandising .left-container {
    flex: 1;
    height: 480px;
    background-color: var(--sky-blue);
}

.make-merchandising .right-container {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: white;
    justify-content: center;
    padding: 30px 0;
    align-items: center;
}

.make-merchandising .left-container {
    display: flex;
    flex: 1;
    padding: 30px 0;
    height: 514px;
    justify-content: center;
    align-items: center;
    color: white;
}

.make-merchandising .right-inner-container {
    width: 70%;
    height: 80%;
    text-align: center;
}

.make-merchandising .left-inner-container {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px;
}

.make-merchandising input,
.make-merchandising textarea {
    background-color: var(--color-eee);
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
    resize: none;
    font-family: "Medium";
}

.make-merchandising input:focus,
.make-merchandising textarea:focus {
    outline: 1px solid var(--sky-blue);
}

.make-merchandising button {
    border-radius: 20px;
    border: 1px solid var(--sky-blue);
    background-color: var(--sky-blue);
    color: var(--main-color);
    font-size: 13px;
    font-family: "Medium";
    padding: 12px 55px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 75%);
    z-index: 10;
    inset: 0;
    display: none;
}

.errorSent {
    display: none;
    font-size: 14px;
    color: rgb(192, 13, 13);
    font-family: "Thin";
    padding: 10px 0;
    text-align: center;
}

.succesSent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    display: none;
    z-index: 11;
}

.succesSent audio {
    display: none;
}

.last {
    width: 100%;
    padding: 82px 0 88px 0;
    background-image: url(../Images/header_section_1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.last .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 0 50px;
}

.last .row .col {
    flex-basis: 50%;
}

.last .row .col .contentText {
    text-align: start;
}

.last .row .col .contentText h1 {
    color: var(--main-color);
    font-family: "Thin";
    font-size: 40px;
}

.last .row .col .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.last .row .col .flex .col-flex {
    flex-basis: 50%;
    position: relative;
}

.last .row .col .btn {
    text-align: end;
}

.last .row .col .btn button {
    background-color: transparent;
    outline: none;
    width: 130px;
    padding: 15px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    cursor: pointer;
    color: var(--main-color);
    font-family: "Medium";
}

@media (max-width: 767px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::after,
    *::before {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    aside,
    .animationMenu {
        display: block;
    }
    header .row .col .navbar,
    header .row .col button {
        display: none;
    }
    .footer .footer-top {
        padding: 20px 40px;
    }
    .footer .row {
        flex-direction: column;
        row-gap: 20px;
        justify-content: start;
        align-items: start;
    }
    .container .contentText {
        font-size: 20px;
    }
    .container .text h2 {
        font-size: 15px;
    }
    .last {
        padding: 20px;
    }
    .last .row {
        flex-direction: column;
        row-gap: 30px;
    }
    .last .row .col .contentText {
        text-align: center;
    }
    .last .row .col .contentText h1 {
        font-size: 30px;
    }
    .banner {
        padding: 50px 0;
    }
    .banner .row {
        flex-direction: column;
        row-gap: 20px;
        padding: 0px 0px 24px;
        text-align: center;
    }
    .banner .row .col {
        width: 100%;
    }
    .banner .row .col .contentText h1 {
        font-size: 28px;
    }
    .banner .row .col .text h4 {
        font-size: 15.2px;
    }
    .banner .row .col .info a {
        font-size: 16px;
    }
    .banner .flex {
        text-align: center;
        flex-direction: column;
        padding: 0;
    }
    .make-merchandising {
        padding: 0;
    }
    .make-merchandising .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .make-merchandising .form-container {
        flex-direction: column;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer .footer-top {
        padding: 50px;
    }
    .last .row .col .contentText h1 {
        font-size: 34px;
    }
    .last {
        padding: 60px 0 68px 0;
    }
    .banner .row .col {
        width: 100%;
    }
    .container .text h2 {
        font-size: 21px;
    }
    aside,
    .animationMenu {
        display: block;
    }
    .container .contentText h1 {
        font-size: 35px;
    }
    .banner .row .col .contentText h1 {
        font-size: 31px;
    }
    .container .contentText span {
        font-size: 35px;
    }
    .banner .row {
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
        padding: 0px 0px 24px;
    }
    header .row .col .navbar,
    header .row .col button {
        display: none;
    }
    .banner .flex {
        flex-direction: column;
        row-gap: 20px;
        padding: 0;
        text-align: center;
    }
    .banner .flex .col-flex {
        width: 100%;
    }
    .last .row .col .contentText h1 {
        font-size: 31px;
    }
    .make-merchandising {
        padding: 50px 20px;
    }
    .make-merchandising .row {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 1440px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::after,
    *::before {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}