*,
*::before,
*::after {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth;
}

:root {
    --rotate-speed: 40;
    --count: 8;
    --easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);
    --easing: cubic-bezier(0.000, 0.37, 1.000, 0.63);
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Bold";
    src: url(../Fonts/Sora-Bold.ttf);
}

@font-face {
    font-family: "Anton";
    src: url(../Fonts/AntonSC-Regular.ttf);
}

@font-face {
    font-family: "Medium";
    src: url(../Fonts/Sora-Medium.ttf);
}

@font-face {
    font-family: "Regular";
    src: url(../Fonts/Sora-Regular.ttf);
}

@font-face {
    font-family: "Thin";
    src: url("../Fonts/Sora-Thin.ttf");
}

.animationMenu {
    display: none;
}

.section-center {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.menu-icon:checked+label,
.menu-icon:not(:checked)+label {
    position: fixed;
    top: 45px;
    right: 25px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 10;
}

.menu-icon:checked+label:before,
.menu-icon:not(:checked)+label:before {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 20px;
    z-index: 20;
    top: 0;
    left: 0;
    border-top: 2px solid #ececee;
    border-bottom: 2px solid #ececee;
    transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after,
.menu-icon:not(:checked)+label:after {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    z-index: 20;
    top: 10px;
    right: 4px;
    background-color: #ececee;
    margin-top: -1px;
    transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:before {
    top: 10px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #ececee;
    border-width: 0;
    transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after {
    width: 30px;
    margin-top: 0;
    right: 0;
    transform: rotate(-45deg);
    transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
    position: fixed;
    top: 15px;
    right: 0%;
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    z-index: 9;
    overflow: hidden;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: #457aff;
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

.menu-icon:checked~.nav {
    animation-play-state: paused;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
    transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease, width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
    list-style: none;
    overflow: hidden;
}

.nav ul li {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    list-style: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 250ms linear;
    overflow: hidden;
}

.nav ul li:nth-child(1) {
    transition-delay: 200ms;
}

.nav ul li:nth-child(2) {
    transition-delay: 150ms;
}

.nav ul li:nth-child(3) {
    transition-delay: 100ms;
}

.nav ul li:nth-child(4) {
    transition-delay: 50ms;
}

.nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 800;
    display: inline-block;
    position: relative;
    color: #ececee;
    transition: all 250ms linear;
    overflow: hidden;
}

.nav ul li a:hover {
    text-decoration: none;
    color: black;
}

.nav ul li a:after {
    display: block;
    position: absolute;
    top: 60%;
    content: '';
    height: 7px;
    margin-top: -1vh;
    width: 0;
    left: 0;
    background-color: #353746;
    opacity: 0.8;
    transition: width 250ms linear;
}

.nav ul li a:hover:after {
    width: 100%;
}

.menu-icon:checked~.nav ul li {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 350ms ease, transform 250ms ease;
}

.menu-icon:checked~.nav ul li:nth-child(1) {
    transition-delay: 1400ms;
}

.menu-icon:checked~.nav ul li:nth-child(2) {
    transition-delay: 1480ms;
}

.menu-icon:checked~.nav ul li:nth-child(3) {
    transition-delay: 1560ms;
}

.menu-icon:checked~.nav ul li:nth-child(4) {
    transition-delay: 1640ms;
}

.menu-icon:checked~.nav ul li:nth-child(5) {
    transition-delay: 1740ms;
}

.logo {
    position: absolute;
    top: 60px;
    left: 50px;
    display: block;
    z-index: 11;
    transition: all 250ms linear;
}

.logo img {
    height: 26px;
    width: auto;
    display: block;
}

aside {
    display: block;
}

._social-links {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    padding: 1em 0.5em 1em 1em;
    background: #fafafa;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: -4px 0px 0px #457aff;
    transition: all 300ms ease;
    z-index: 10;
}

._social-links:hover {
    box-shadow: -8px 0px 20px #457aff;
    padding: 1em;
}

._links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

._social-link a {
    color: #111;
    font-size: 1.5rem;
    transition: all 200ms ease;
}

._social-link a:visited {
    color: #111;
}

._social-link a:hover {
    color: #457aff;
    font-size: 1.75rem;
}

._social-link i {
    overflow: hidden;
}

header {
    width: 100%;
    background-color: #000033;
    position: fixed;
    border-bottom: 1px solid #84858e;
    z-index: 10;
    top: 0;
}

header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2px;
    background: #aaaab2;
    bottom: 0;
    left: 0;
}

header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

header .row .col {
    position: relative;
    color: #fff;
}

header .row .col img {
    width: 120px;
    overflow: hidden;
    position: relative;
    left: 15px;
    /* filter: opacity(1) drop-shadow(0 0 0 #457aff); */
}

header .row .col .navbar {
    display: flex;
    column-gap: 25px;
    align-items: center;
}

header .row .col .navbar li a {
    font-size: 12px;
    font-family: "Medium";
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

header .row .col a {
    margin: 0 28px 0 0;
}

header .row .col button {
    background-color: #457aff;
    color: #fff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    font-family: "Medium";
    padding: 13px 16px;
    border: none;
    border-radius: 6px;
}

.banner {
    padding: 124px 0 0 0;
    position: relative;
    background-color: #000033;
    width: 100%;
    height: fit-content;
}

.banner .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    position: relative;
}

.banner .row .col {
    position: relative;
}

.banner .row .col .title {
    padding: 0 0 0 35px;
}

.banner .row .col .title h1 {
    font-size: 45px;
    font-family: "Medium";
    color: #fff;
    padding: 5px 0;
}

.banner .row .col .title h4 {
    font-size: 17px;
    font-family: "Thin";
    color: #d6d6e7;
    padding: 12px 0;
}

.banner .row .col .banner-get-started-div {
    padding: 20px 0;
}

.banner .row .col .get-started-button-title-div {
    background-color: #457aff;
    color: #fff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    font-family: "Medium";
    padding: 13px 16px;
    border: none;
    border-radius: 6px;
    position: relative;
    z-index: 5;
}

.banner .row .col-bg .person-img {
    position: relative;
    z-index: 1;
    height: 100%;
    text-align: center;
}

.banner .row .col-bg .person-img .p-image {
    position: relative;
    width: 325px;
    object-fit: contain;
    z-index: 1;
}

.banner .row .col-bg .person-img .b-image {
    width: 700px;
    object-fit: cover;
    position: absolute;
    left: -78px;
    z-index: 0;
    text-align: center;
    top: -3px;
    height: 455px;
}

.banner .row .animation-text {
    position: absolute;
    z-index: 3;
    right: -20%;
    top: 30%;
    width: 100%;
    height: 200px;
}

.banner .row .input-mic {
    display: block;
    text-align: center;
    margin: 30px 0;
}

.banner .row .input-mic .text {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: start;
    width: 400px;
    position: absolute;
    left: 38%;
    padding: 5px 0;
    border-radius: 50px;
    height: 50px;
    overflow: hidden;
}

.banner .row .input-mic .text h2 {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    font-size: 19px;
    left: 20px;
    top: 16px;
    color: white;
    font-family: "Bold";
    cursor: none;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    animation: typing 2s steps(100, start) infinite;
    animation-delay: 0s;
}

.banner .col-bg {
    flex-basis: 50%;
    position: relative;
}

.banner .row .input-mic .text img {
    height: 30px;
    position: absolute;
    right: 20px;
    top: 13px;
    fill: white;
    filter: invert(1);
}

.container .text-animation {
    text-align: start;
    padding: 50px;
}

.banner .row-flex {
    display: flex;
    position: absolute;
    z-index: 4;
    align-items: center;
    column-gap: 20px;
    justify-content: end;
    bottom: 50px;
    right: 110px;
}

.banner .row-flex .col-flex {
    flex-basis: 18%;
    position: relative;
    border: 3px solid #457aff;
    border-radius: 15px;
    background: #fff;
    animation: flash 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.banner .row-flex .col-flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


/* 
Choose us 
*/

.choose-us {
    background: #fff;
}

.choose-us .container {
    padding: 50px;
}

.choose-us h1 {
    text-align: center;
    font-size: 25px;
    color: #23263b;
    font-family: "Bold";
}

.choose-us .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
}

.choose-us .row .col {
    flex-basis: 50%;
    position: relative;
}

.choose-us .row .col h2 {
    font-size: 20px;
    font-family: "Medium";
    color: #23263b;
    padding: 20px 0;
}

.choose-us .row .col h3 {
    font-size: 13px;
    font-family: "Medium";
    color: #484c7a;
    position: relative;
    line-height: 35px;
}

.choose-us .row .col h3::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 75%;
    transform: translateY(-50%);
    width: 25px;
    height: 1.5px;
    border-radius: 10px;
    background-color: #457aff;
}

.choose-us .row .col p {
    font-size: 12px;
    font-family: "Medium";
    color: #484c7a;
}

.choose-us .row .col img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.choose-us .row .col .learn-more-btn-div {
    padding: 20px 0;
}

.choose-us .row .col .learn-more-btn-div button {
    background-color: #457aff;
    color: #fff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    font-family: "Medium";
    padding: 13px 16px;
    border: none;
    border-radius: 6px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.choose-us .slider {
    background: white;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.choose-us .slider::before,
.choose-us.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.choose-us .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.choose-us .slider::before {
    left: 0;
    top: 0;
}

.choose-us .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.choose-us .slider .slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/*
Our Services
*/

.our-services {
    padding: 100px;
    background: #f5f5fa;
}

.our-services .contentText {
    padding: 10px;
}

.our-services .contentText h1 {
    color: #000;
    font-family: "Medium";
    font-size: 28px;
}

.our-services .lines {
    display: flex;
    column-gap: 5px;
    padding: 20px 0;
    align-items: center;
}

.our-services .lines .line-cut {
    width: 20px;
    height: 2px;
    background-color: #457aff;
}

.our-services .lines .line {
    width: 20px;
    height: 2px;
    background-color: #457aff;
}

.our-services .contentText span {
    color: #457aff;
    font-family: "Medium";
    font-size: 28px;
}

.our-services .content {
    padding: 0px 10px 0px;
}

.our-services .content h4 {
    color: #84858e;
    font-family: "Thin";
    padding: 3px 0;
    font-size: 14px;
}

.our-services .row {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}

.our-services .row .col {
    flex-basis: 50%;
    position: relative;
}

.our-services .row .col .flex {
    padding: 20px 0;
    display: flex;
    column-gap: 20px;
}

.our-services .row .col .flex-col {
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 20px;
}

.our-services .row .col h1 {
    color: #000;
    font-family: "Medium";
    font-size: 19px;
}

.our-services .row .col h1:hover {
    transition: .3s ease-in;
    color: #457aff;
}

.our-services .row .col p {
    color: #84858e;
    font-family: "Thin";
}

.our-services .row .col img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
    overflow: hidden;
}


/* 
Scaling Ahead Works Section
*/

.scaling-works-ahead {
    padding: 100px;
    background: #fff;
}

.scaling-works-ahead h1 {
    font-size: 35px;
    color: #232323;
    font-family: "Medium";
    text-align: center;
}

.scaling-works-ahead h4 {
    font-size: 13px;
    color: #23263b;
    font-family: "Thin";
    padding: 10px 0;
    font-weight: 25px;
    text-align: center;
}

.scaling-works-ahead .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 40px 0;
}

.scaling-works-ahead .row .col {
    flex-basis: 33%;
    position: relative;
}

.scaling-works-ahead .row .col .flex {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 5px;
    text-align: center;
    border-right: 2px solid #457aff;
}

.scaling-works-ahead .row .col .flex .col-flex {
    text-align: center;
    position: relative;
}

.scaling-works-ahead .row .col .flex .col-flex .blueText {
    font-size: 32px;
    color: #457aff;
    font-family: "Medium";
    overflow: hidden;
}

.scaling-works-ahead .row .col .flex .col-flex p {
    font-size: 12px;
    font-family: "Medium";
    color: #232323;
}

.number-animation {
    font-size: 40px;
    font-weight: bold;
    color: #0099ff;
    margin: 10px 0;
}

.scaling-works-ahead .btn {
    padding: 20px;
    text-align: center;
}

.scaling-works-ahead .btn button {
    background-color: #457aff;
    color: #fff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    font-family: "Medium";
    padding: 13px 16px;
    border: none;
    border-radius: 6px;
}


/*
How it works section
*/

.how-it-works {
    padding: 100px;
    background-color: #d6d6e7;
}

.how-it-works .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
}

.how-it-works .row .col {
    flex-basis: 50%;
    position: relative;
}

.how-it-works .row .col .title {
    font-size: 22px;
    font-family: "Medium";
    color: #232323;
    padding: 25px 0;
}

.how-it-works .row .col ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
    align-items: start;
    padding: 20px 0 40px 0;
}

.how-it-works .row .col ul li {
    font-size: 15px;
    font-family: "Thin";
    font-weight: 1000;
    color: #484c7a;
}

.how-it-works .row .col button {
    background-color: #457aff;
    color: #fff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    font-family: "Medium";
    padding: 13px 16px;
    border: none;
    border-radius: 6px;
}

.how-it-works .row .col .flex {
    display: flex;
    align-items: center;
    column-gap: 20px;
    overflow: hidden;
}

.how-it-works .row .col .flex .col-flex-10 {
    flex-basis: 10%;
    position: relative;
    box-shadow: 0px 3px 12px #84858e;
    border: none;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    top: -25px;
    margin: 0 20px;
}

.how-it-works .row .col .flex .col-flex-10:first-child {
    left: 10px;
}

.how-it-works .row .col .flex .col-flex-10:last-child {
    right: 10px;
}

.how-it-works .row .col .flex .col-flex-80 {
    flex-basis: 80%;
    position: relative;
}

.how-it-works .row .col .flex .col-flex .icon {
    color: #232323;
    overflow: hidden;
    padding: 5px 15px;
}

.how-it-works .row .col .flex .col-flex .icon:hover {
    background-color: #fff;
    transition: 0.3s ease-in;
}

.how-it-works .row .col .flex .col-flex .icon i {
    overflow: hidden;
    font-size: 22px;
    color: #0099ff;
    padding: 1px 2px;
    position: relative;
    top: 2px;
    left: -4px;
}

.how-it-works .row .col .flex .col-flex .contentText h3 {
    font-size: 17px;
    font-family: "Thin";
    color: #23263b;
    text-align: center;
}

.how-it-works .row .col .quote-editor {
    padding: 20px 0;
    text-align: center;
}

.how-it-works .row .col .quote-editor h1 {
    font-size: 18px;
    font-family: "Thin";
    color: #23263b;
    padding: 5px 0 0 0;
}

.how-it-works .row .col .quote-editor h3 {
    font-size: 14px;
    font-family: "Thin";
    color: #23263b;
    padding: 8px 0;
}

.c {
    min-width: 700px;
    width: 700px;
    height: 500px;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: hsl(0 0% 90%);
    box-sizing: border-box;
}

.ci {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    transform-origin: left 50%;
    background: inherit;
    z-index: var(--z);
    transition: .3s ease-out;
}

.ci img {
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
}

.ci::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    background: rgba(0, 0, 0, 20%);
}

.ch {
    position: absolute;
    top: 10%;
    font-family: "Anton";
    left: 2%;
    color: #fff;
    transform: translateY(-50%);
    font-size: 50px;
    text-shadow: -1px -6px 6px rgba(0, 0, 0, 0.71);
}

.c input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
}

.c label {
    width: 10%;
    height: 10px;
    margin-right: 4px;
    border-radius: 20px;
    background: hsla(0 0% 90% / .3);
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.c label:last-child {
    margin-right: 0;
}

.c input:checked+label {
    /* background: linear-gradient(to right, hsla(var(--hue) 80% 70% / .7), hsla(calc(var(--hue) + 30) 80% 50% / .7)); */
    background-color: transparent;
}

.c input:not(:checked)+label+.ci {
    transform: translateX(-100%);
    opacity: 0;
}

.c input:checked+label+.ci~.ci {
    transform: translateX(100%);
}

.c input:not(:checked)+label+.ci {
    transition: 0;
}

.void {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    position: relative;
    aspect-ratio: 1 / 1;
    font-family: "Medium";
}

.void ul:hover * {
    animation-play-state: paused;
}

.void #card-list {
    overflow: hidden;
}

.void ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    outline: 2px dotted magenta;
    z-index: 1;
}

.void li {
    position: absolute;
    overflow: unset;
    top: 50%;
    transform: translateY(-50%);
    /* 	outline: 2px dashed cyan; */
    width: 100%;
    animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}

.card {
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;
    gap: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #535062;
    animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}

.void a {
    text-decoration: none;
    color: unset;
}

.model-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #457aff;
    display: block;
}

.void svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.void li:nth-child(2),
.void li:nth-child(2) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -1s);
}

.void li:nth-child(3),
.void li:nth-child(3) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -2s);
}

.void li:nth-child(4),
.void li:nth-child(4) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -3s);
}

.void li:nth-child(5),
.void li:nth-child(5) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -4s);
}

.void li:nth-child(6),
.void li:nth-child(6) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -5s);
}

.void li:nth-child(7),
.void li:nth-child(7) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -6s);
}

.void li:nth-child(8),
.void li:nth-child(8) .card {
    animation-delay: calc((var(--rotate-speed)/var(--count)) * -7s);
}

@keyframes rotateCW {
    from {
        transform: translate3d(0px, -50%, -1px) rotate(-45deg);
    }
    to {
        transform: translate3d(0px, -50%, 0px) rotate(-315deg);
    }
}

@keyframes rotateCCW {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(315deg);
    }
}

@keyframes pulseGlow {
    from {
        background-size: 60%;
    }
    to {
        background-size: 100%;
    }
}

.center-circle {
    position: absolute;
    width: 230px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
    border-radius: 50%;
}

.center-circle img {
    width: 100%;
    height: 100%;
}

.second-circle {
    position: absolute;
    width: 40%;
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F5F4FE;
    opacity: 0.5;
    box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
    border-radius: 50%;
}

.last-circle {
    position: absolute;
    width: 66%;
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F5F4FE;
    opacity: 0.25;
    box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3), 0px 30px 60px -12px rgba(12, 5, 46, 0.25);
    border-radius: 50%;
}

.crop {
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1));
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    animation: pulseGlow 5s linear infinite alternate;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(100% 50% at 100% 50%, rgba(69, 122, 255, 0.25) 0%, rgba(69, 122, 255, 0.247904) 11.79%, rgba(69, 122, 255, 0.241896) 21.38%, rgba(69, 122, 255, 0.2324) 29.12%, rgba(69, 122, 255, 0.219837) 35.34%, rgba(69, 122, 255, 0.20463) 40.37%, rgba(69, 122, 255, 0.1872) 44.56%, rgba(69, 122, 255, 0.16797) 48.24%, rgba(69, 122, 255, 0.147363) 51.76%, rgba(69, 122, 255, 0.1258) 55.44%, rgba(69, 122, 255, 0.103704) 59.63%, rgba(69, 122, 255, 0.0814963) 64.66%, rgba(69, 122, 255, 0.0596) 70.88%, rgba(69, 122, 255, 0.038437) 78.62%, rgba(69, 122, 255, 0.0184296) 88.21%, rgba(69, 122, 255, 0) 100%);
}

.mask:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    display: block;
    background-image: linear-gradient(180deg, rgba(69, 122, 255, 0.25) 0%, #457aff 50%, rgba(69, 122, 255, 0.25) 0%);
}


/*
start your project Section
*/

.start-your-project {
    padding: 100px;
    background-color: #fff;
}

.start-your-project .title {
    text-align: center;
    padding: 20px 0;
}

.start-your-project .title h1 {
    font-size: 30px;
    font-family: "Bold";
    color: #232323;
}

.start-your-project .title h4 {
    font-size: 14px;
    font-family: "Thin";
    font-weight: 1000;
    color: #484c7a;
    padding: 10px 0;
}

.start-your-project .btn {
    padding: 10px;
    text-align: center;
}

.start-your-project .btn button {
    background-color: #457aff;
    color: #fff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    font-family: "Medium";
    padding: 13px 16px;
    border: none;
    border-radius: 6px;
}


/*
Build faster and better Section
*/

.build-faster {
    padding: 100px;
    background-color: #000033;
}

.build-faster .title {
    text-align: center;
    padding: 20px 0;
}

.build-faster .title h1 {
    font-size: 30px;
    font-family: "Bold";
    color: #fff;
}

.build-faster .title h4 {
    font-size: 14px;
    font-family: "Thin";
    font-weight: 1000;
    color: #aaaab2;
    padding: 10px 0;
}

.build-faster .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
}

.build-faster .row .col {
    flex-basis: 50%;
    position: relative;
}

.build-faster .row .col .flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: 70vh;
}

.build-faster .row .col .flex .flex-col-20 {
    flex-basis: 35%;
    background: linear-gradient(to bottom, #042077, #000033);
    border-radius: 10px;
}

.build-faster .row .col .flex .flex-col-80 {
    flex-basis: 70%;
}

.build-faster .row .col .flex .flex-col-20 .nav-column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
    justify-content: start;
    height: 70vh;
}

.build-faster .row .col .flex .flex-col-20 .nav-column .parent {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
    padding: 10px 0 10px 20px;
    background: linear-gradient(to bottom, #042077, #000033);
    width: 100%;
}

.build-faster .row .col .flex .flex-col-20 .nav-column .parent li {
    font-size: 14px;
    color: #fff;
    font-family: "Thin";
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.build-faster .row .col .flex .flex-col-20 .nav-column .parent li img {
    width: 20px;
}

.build-faster .row .col .flex .flex-col-20 .nav-column .childs {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 5px;
    justify-content: start;
    padding: 0 0 0 20px;
}

.build-faster .row .col .flex .flex-col-20 .nav-column .childs li {
    font-size: 14px;
    color: #fff;
    font-family: "Thin";
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 8px 0;
}

.build-faster .row .col .flex .flex-col-20 .nav-column .childs li img {
    width: 20px;
}

.build-faster .row .col .flex .flex-col-80 .code-nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 20px 20px 80px;
    justify-content: start;
    align-items: start;
    position: relative;
}

.build-faster .row .col .flex .flex-col-80 .code-nav::before {
    content: " ";
    position: absolute;
    width: 1px;
    height: -webkit-fill-available;
    background-color: #aaaab2;
    top: 30px;
    left: 15%;
    overflow: hidden;
}

.build-faster .row .col .flex .flex-col-80 .code-nav li {
    color: #fad000;
    font-family: "Thin";
    font-size: 14px;
    position: relative;
}


/* Basic styling */

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
    font-family: "Medium";
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #457aff;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #457aff;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #457aff;
    border: 1px solid #457aff;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: #457aff;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 14px;
    font-weight: 300;
    margin: 2em 0;
    color: #fff;
    font-family: "Thin";
}


/* accordion end  */


/* 
Animations
*/

@keyframes flash {
    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(0.3);
    }
}


/* .make-merchandising start */

.make-merchandising {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.make-merchandising .containerr {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.make-merchandising .lg-view {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #457aff;
    font-family: "Medium";
}

.make-merchandising h2 {
    color: #fff;
    overflow: hidden;
    padding: 2px 0;
    font-family: "Medium";
    font-size: 30px;
}

.make-merchandising p {
    font-family: "Thin";
    font-size: 15px;
}

.make-merchandising .sm-view {
    color: #84858e;
    font-family: "Thin";
}

.make-merchandising .form-container {
    display: flex;
}

.make-merchandising .left-container {
    flex: 1;
    height: 480px;
    background-color: #457aff;
}

.make-merchandising .right-container {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: white;
    justify-content: center;
    padding: 30px 0;
    align-items: center;
}

.make-merchandising .left-container {
    display: flex;
    flex: 1;
    padding: 30px 0;
    height: 514px;
    justify-content: center;
    align-items: center;
    color: white;
}

.make-merchandising .right-inner-container {
    width: 70%;
    height: 80%;
    text-align: center;
}

.make-merchandising .left-inner-container {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px;
}

.make-merchandising input,
.make-merchandising textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
    resize: none;
    font-family: "Medium";
}

.make-merchandising input:focus,
.make-merchandising textarea:focus {
    outline: 1px solid #457aff;
}

.make-merchandising button {
    border-radius: 20px;
    border: 1px solid #457aff;
    background-color: #457aff;
    color: #FFFFFF;
    font-size: 13px;
    font-family: "Medium";
    padding: 12px 55px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 75%);
    z-index: 10;
    inset: 0;
    display: none;
}

.errorSent {
    display: none;
    font-size: 14px;
    color: rgb(192, 13, 13);
    font-family: "Thin";
    padding: 10px 0;
    text-align: center;
}

.succesSent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    display: none;
    z-index: 11;
}

.succesSent audio {
    display: none;
}


/* .make-merchandising end */


/* get-started start  */

.get-started {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background-color: #d6d6e7;
}

.get-started .content {
    text-align: center;
}

.get-started .content h1 {
    color: #000;
    font-family: "Medium";
    font-size: 45px;
}

.get-started .row {
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.get-started .row .col {
    flex-basis: 33%;
    position: relative;
}

.get-started .row .col .contentText {
    padding: 20px 15px;
}

.get-started .row .col .contentText h1 {
    color: #000;
    font-family: "Medium";
    font-size: 30px;
    text-align: center;
}

.get-started .row .col .paragraph {
    padding: 20px 15px;
}

.get-started .row .col .paragraph h3 {
    color: #484c7a;
    font-size: 16px;
    font-family: "Thin";
    text-align: center;
}

.get-started .row .col .btn {
    padding: 20px 15px;
    text-align: center;
}

.get-started .row .col .btn button {
    background-color: #457aff;
    color: #fff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    font-family: "Medium";
    padding: 13px 16px;
    border: none;
    border-radius: 6px;
}


/* get-started end  */


/* footer start  */

.footer {
    background-color: rgb(0 0 51);
}

.footer .footer-top {
    padding: 71px 91px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.footer .row .col {
    flex-basis: 20%;
    position: relative;
}

.footer .row .col a {
    text-decoration: none;
    font-family: "Thin";
    font-size: 18px;
    color: #484c7a;
    cursor: pointer;
    width: max-content;
}

.footer .row .col a:hover {
    color: #fff;
    transition: 0.3s ease-in;
}

.footer .text {
    text-align: end;
    padding: 50px 0;
}

.footer .text h3 {
    font-family: "Thin";
    width: max-content;
    color: #484c7a;
    text-align: end;
    font-size: 18px;
    cursor: pointer;
}

.footer .text h3:hover {
    transition: 0.3s ease-in;
    color: #fff;
}

.footer .flex {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px 0;
}

.footer .flex li img {
    width: 20px;
    object-fit: cover;
    filter: invert(1);
    cursor: pointer;
}

.footer .rights-reserved {
    text-align: center;
}

.footer .rights-reserved h2 {
    color: #fff;
    font-size: 16px;
    padding: 25px 0;
    font-family: "Thin";
    border-top: 1px solid #484c7a;
}

@media only screen and (max-width: 767px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    aside,
    .animationMenu {
        display: block;
    }
    header .row .col .navbar,
    header .row .col button {
        display: none;
    }
    .banner .row .col .title {
        margin: 50px 0;
    }
    .banner .col-bg,
    .banner .row .animation-text,
    .banner .row-flex {
        display: none;
    }
    .banner .row .col .title {
        padding: 0;
        text-align: center;
    }
    .choose-us {
        padding: 50px 20px;
    }
    .choose-us .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .our-services {
        padding: 50px 20px;
    }
    .our-services h1,
    .our-services h4 {
        text-align: center;
    }
    .our-services .row {
        justify-content: center;
        width: 100%;
    }
    .our-services .row .col {
        flex-basis: auto;
    }
    .our-services .row .col h2 {
        padding: 30px;
    }
    .our-services .row .col p {
        text-align: center;
    }
    .our-services .contentText span {
        font-size: 22px;
    }
    .our-services .contentText h1 {
        font-size: 22px;
    }
    .our-services .row .col .flex .flex-col {
        padding: 20px 35px;
    }
    .our-services .row .col .flex .flex-col h1 {
        cursor: pointer;
    }
    .our-services .lines {
        padding: 8px 5px;
    }
    .our-services .row .col h1 {
        font-size: 18px;
    }
    .our-services .row .col:last-child {
        display: none;
    }
    .scaling-works-ahead {
        padding: 50px 20px;
    }
    .scaling-works-ahead .row {
        flex-direction: column;
        row-gap: 20px;
        padding: 0 0 40px 0;
    }
    .scaling-works-ahead .row .col {
        width: 100%;
    }
    .scaling-works-ahead h4 {
        padding: 25px 0;
    }
    .how-it-works {
        padding: 50px 20px;
    }
    .how-it-works .row {
        flex-direction: column;
        row-gap: 35px;
    }
    .how-it-works .c .ch {
        font-family: "Thin";
    }
    .how-it-works .c input:checked+label {
        background-color: transparent;
    }
    .how-it-works .row .col .title {
        text-align: center;
    }
    .how-it-works .c {
        width: 100%;
        height: 50vh;
    }
    .how-it-works .c .ci img {
        width: 100%;
        height: 100%;
    }
    .carousel .card {
        width: 35%;
    }
    .carousel .center-circle {
        width: 150px;
    }
    .carousel #card-list {
        --count: 2 !important;
    }
    .start-your-project {
        padding: 50px 20px;
    }
    .build-faster {
        padding: 50px 20px;
    }
    .build-faster .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .build-faster .row .col .flex {
        max-height: 40vh;
    }
    .build-faster .row .col .flex .flex-col-20 .nav-column {
        height: 40vh;
    }
    .make-merchandising {
        padding: 0;
    }
    .make-merchandising .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .make-merchandising .form-container {
        flex-direction: column;
        display: block;
    }
    .get-started {
        padding: 50px 20px;
    }
    .get-started .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .get-started .content h1 {
        font-size: 36px;
    }
    .get-started .row .col .contentText h1 {
        font-size: 23px;
    }
    .get-started .row .col .paragraph h3 {
        font-size: 15px;
    }
    .footer .footer-top {
        padding: 50px 20px;
    }
    .footer .row {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 25px;
    }
    .footer .text {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .banner .row {
        justify-content: center;
    }
    .banner .container {
        padding: 50px;
    }
    .banner .col-bg,
    .banner .row .animation-text,
    .banner .row-flex {
        display: none;
    }
    .banner .row .col .title {
        padding: 0;
        text-align: center;
    }
    .choose-us {
        padding: 50px 20px;
    }
    .choose-us .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .our-services {
        padding: 50px 20px;
    }
    .our-services .row .col h2 {
        padding: 20px;
    }
    .scaling-works-ahead {
        padding: 50px 20px;
    }
    .how-it-works {
        padding: 50px 20px;
    }
    .how-it-works .row .col .flex .col-flex .icon i {
        left: -7px;
    }
    .start-your-project {
        padding: 50px 20px;
    }
    .build-faster {
        padding: 50px 20px;
    }
    .build-faster .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .build-faster .row .col {
        width: 100%;
    }
    .build-faster .row .col .flex .flex-col-80 .code-nav::before {
        left: 7%;
    }
    .build-faster .row .col .flex {
        height: 40vh;
        max-height: 40vh;
    }
    .build-faster .row .col .flex .flex-col-20 .nav-column {
        height: 40vh;
    }
    .accordion {
        width: 100%;
    }
    .make-merchandising {
        padding: 50px 20px;
    }
    .make-merchandising .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .get-started {
        padding: 50px 20px;
    }
    .get-started .row {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .get-started .row .col {
        flex-basis: 45%;
    }
    .footer .footer-top {
        padding: 50px 20px;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: var(--content-width);
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .banner .row .col-bg .person-img .b-image {
        left: -35px;
    }
    .build-faster .row .col {
        align-self: start;
    }
    .build-faster .row .col .flex {
        height: 40vh;
        max-height: 40vh;
    }
    .build-faster .row .col .flex .flex-col-20 .nav-column {
        height: 40vh;
    }
}

@media only screen and (min-width: 1440px) {
    html,
    body {
        overflow-x: hidden;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .banner .row .col-bg .person-img .b-image {
        width: 100%;
        height: 100%;
        left: 0;
    }
    .build-faster .row .col {
        align-self: start;
    }
    .build-faster .row .col .flex {
        height: 40vh;
        max-height: 40vh;
    }
    .build-faster .row .col .flex .flex-col-20 .nav-column {
        max-height: 40vh;
        height: 40vh;
    }
}